.Form{
    width: 100%;
    text-align: center;
    padding:1rem 2rem 2rem;
}

.Form h1{
    margin-bottom: 2rem;
}
.signin{
    width: 100%;
    background: #c7102e;
    border: none;
    margin-top: 1rem;
}
.signin:hover{
    background: #c7102e !important; 
}
.google{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    background: #4285F4 !important;
}
.google:hover{
    background: #4285F4 !important;
}

.google svg{
    font-size: 1.3rem;
}

.adminContainer{
    height: calc(100vh - 5.8rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminContainer >form{
    width:30%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.adminContainer button{
    background: teal;
}


