.container {
  padding: 50px;
  display: flex;
}
.container h1 {
  text-align: center;
}
.left {
  flex: 1;
}
.table {
  width: 100%;
  text-align: left;
}
.table th,
.table td {
  border: 1px solid grey;
  text-align: center;
}
.table th {
  padding: 1rem;
}

.orderItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
}

.orderItem img {
  width: 40px !important;
  height: 40px !important;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .one {
    display: none;
  }
  .orderItem {
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
  .one {
    display: none;
  }
  .orderItem {
    padding-left: 0;
    justify-content: center;
  }
  .orderItem > div:nth-child(2) {
    display: none;
  }
  .orderItem > div:nth-child(3) {
    display: none;
  }
  .table th,
  .table td {
    text-align: center;
    padding: 0.2rem;
  }
}
