.container {
  height: calc(100vh - 5.8rem);
  display: flex;
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  flex: 1;
  padding: 1.3rem;
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}

.imgContainer img:hover {
  transform: scale(1.05);
  transition: 1.5s ease-in-out;
  cursor: pointer;
}

.price {
  color: #c7102e;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  width:25%;
  justify-content:flex-start;
  align-items: center;
  gap:1rem !important;
}

.sizes {
  width: 60%;
  display: flex;
  justify-content: space-between;
  gap:2rem;
  margin-bottom: 2rem;
}

.size{
  flex: 1;
  height: 100px;
  position: relative;
  cursor: pointer;
  padding: 10px;
  border: 2px solid transparent !important;
}

.size img {
  width: 40px !important;
  height: 40px !important;
}

.number {
  position: absolute;
  top: -5px;
  right: -20px;
  background-color: teal;
  color: white;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 10px;
}

.number2 {
  background-color: teal;
  color: white;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 10px;
}

.ingredients {
  display: flex;
  margin-bottom: 2rem;
}

.option {
  display: flex;
  align-items: center;
  margin-right: 0.8rem;
  font-size: 1rem;
  font-weight: 500;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.quantity {
  width: 3.3rem;
  height: 2rem;
}

.button {
  height: 2rem;
  margin-left: 10px;
  background-color: #c7102e;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.button1 {
  height: 2rem;
  margin-left: 10px;
  background-color: black;
  color: white;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .container {
    height: auto;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .imgContainer {
    width: 70vw;
    height: 70vw;
  }

  .title {
    margin: 5px;
  }

  .sizes {
    width: 100%;
    padding: 0px 20px;
  }

  .ingredients {
    flex-direction: column;
  }

  .option {
    margin: 10px;
    font-size: 18px;
  }

  .checkbox {
    width: 25px;
    height: 25px;
  }

  .quantity,
  .button {
    height: 50px;
    padding: 10px 20px;
  }
}
